---
import BaseLayout from './BaseLayout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const {title, description, ogImage} = Astro.props;

---


<BaseLayout title = {title} description= {description} ogImage= {ogImage}>
  <SiteHeader slot = 'header'/>
  <div class='page-inner'>
    <slot/>
  </div>
  <SiteFooter slot ='footer'/>
</BaseLayout>

<style>
  .page-inner {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 3rem var(--gutter);
  }
</style>



